[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=catalogue-dev.gdevops65.shop:8080
Environment=DB_HOST=mysql-dev.gdevops65.shop
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
